<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/quiz/add" method="post">
        Subject<input type="text" name="subject" id="subject">
        Amount of Questons<input type="number" name="questions" id="questions">
        Grade<input type="number" name="score" id="grade">
        Date Taken<input type="date" name="date" id="date">
        <button type="submit">Add</button>
    </form>
</body>
</html>